.mobile-menu-row-1 {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.mobile-menu-row-2 {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.mobile-menu-nav-item {
  margin-top: 8vh;
  margin-bottom: 8vh;
}

.mobile-hamburger-menu {
  margin: 47px 40px 0px 0px;
}
