.body {
  /* border: 1px solid red; */
  margin-left: 9rem;
  margin-right: 9rem;
  margin-top: 3.3rem;
}

.body-text {
  /* border: 1px solid green; */
  width: 30vw;
}

@media only screen and (max-device-width: 1150px) {
  .body {
    /* border: 1px solid red; */
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 3.3rem;
  }
  .body-text {
    width: 50vw;
  }
}

@media only screen and (max-device-width: 1000px) {
  .body {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3.3rem;
  }
  .body-text {
    width: 60vw;
  }
}

@media only screen and (max-device-width: 800px) {
  .body {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 8vh;
  }
  .body-text {
    width: 70vw;
  }
}

@media only screen and (max-device-width: 450px) {
  .body {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 8vh;
  }
  .body-text {
    width: 80vw;
  }
}
