.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-secondary);
  margin: -0.5rem;
  height: 50px;
}

.footer-text {
  font-size: 0.75rem;
}
