.nav {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.hamburger-menu {
  display: none;
}

@media only screen and (max-device-width: 750px) {
  .nav-items {
    display: none;
  }
  .resume-button {
    display: none;
  }
  .hamburger-menu {
    display: inline;
    color: var(--accent-color);
  }
}
