.nav-item {
  margin: 20px;
  padding: 5px;
}

.nav-item:hover {
  color: var(--main-text-color);
  cursor: pointer;
}

.nav-item-number {
  color: var(--accent-color);
  margin-right: 5px;
}

.nav-item-name {
  /* color: white; */
}
