.project3-container {
  background-color: rgba(57, 56, 84, 0.3);
  border: 25px solid rgba(57, 56, 84, 0);
  border-radius: 15px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* border: 1px solid red; */
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.project3-header {
  color: rgba(var(--main-text-color), 0.75);
  letter-spacing: 0.4px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.project3-text {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  margin-top: 5px;
  line-height: 23px;
  width: 50vw;
}

.project-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layer:hover {
  background-color: rgba(219, 88, 23, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image3-holder {
  /* Animation Boilerplater -> */
  position: relative;
  top: 0;
  transition: top ease 0.3s;
  /* <- Animation Boilerplater */
  /* background-image3: url(../images/quiz.png); */
  width: 50vw;
  height: 28vw;
  border-radius: 5px;
  overflow: hidden; /* required */
  background-size: cover;
  background-color: black;
}

.image3-holder-quiz {
  background-image: url(../images/github-finder.png);
}

/* Hover Animation */
.image3-holder:hover {
  top: -10px;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.ribbon {
  margin: 0;
  padding: 0;
  background: rebeccapurple;
  color: white;
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  left: 0;
  /* transform: translateX(-20%) translateY(300%) rotate(-45deg); */
  transform-origin: bottom;
  width: 100%;
  height: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ribbon:before,
.ribbon:after {
  content: '';
  position: absolute;
  top: 0;
  margin: 0 -1px; /* tweak */
  width: 100%;
  height: 100%;
  background: rebeccapurple;
}
.ribbon:before {
  right: 100%;
}

.ribbon:after {
  left: 100%;
}

.image3-text-details-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.featured-project-text {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1rem;
}

.featured-project-name {
  color: var(--main-text-color);
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.image3-text-details {
  /* Animation Boilerplater -> */
  position: relative;
  top: 0;
  transition: top ease 0.3s;
  /* <- Animation Boilerplater */
  background-color: var(--accent-secondary);
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--secondary-text-color);
  width: 30vw;
  margin-left: -50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hover Animation */
.image3-text-details:hover {
  top: -10px;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.tech-stack-text {
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--secondary-text-color);
}

.link-icons {
  margin-top: 5px;
  margin-bottom: 0;
}

a.tech-stack-text:hover {
  color: var(--accent-color);
}

.project-link-icons {
  margin: 0 5px 0 5px;
}

.project-link-icons:hover {
  fill: var(--accent-color);
  /* cursor: pointer; */
}

@media only screen and (max-device-width: 1150px) {
  .project3-container {
    /* border: 1px solid red; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 3.3rem;
  }
}

@media only screen and (max-device-width: 1000px) {
  .project3-container {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3.3rem;
  }
  .project3-text {
    width: 60vw;
  }
}

@media only screen and (max-device-width: 800px) {
  .project3-container {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 8vh;
  }
  .project3-text {
    width: 70vw;
  }
}

@media only screen and (max-device-width: 450px) {
  .project3-span {
    margin-left: 0;
  }
  .project3-header {
    /* justify-self: center; */
    align-self: flex-start;
    margin-bottom: 1rem;
  }
  .project3-main-container {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    border: 1px solid yellow;
    margin-top: 10rem;
  }
  .project3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-right: 5vw;
    margin-bottom: 1rem;
    margin-left: 5vw;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .project3-row {
    display: flex;
    flex-direction: column !important;
  }
  .image3-holder {
    width: 60vw;
    height: 33.75vw;
    margin-bottom: 0.5rem;
    border: 3px solid var(--main-text-color);
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
  }
  .image3-text-details-column {
    align-items: center;
  }
  .featured-project-name {
    order: -1;
    margin-top: 0.5rem !important;
  }
  .featured-project-text {
    order: 0;
  }
  .image3-text-details {
    margin-left: 0;
    margin-top: 0.5rem;
    width: 50vw;
  }
}
